* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
span {
  display: inline-block;
}

._off {
  display: none;
}

html {
  font-size: 100%;
}

body {
  background: rgb(0, 0, 0);
  font-size: 100%;
  color: rgb(255, 255, 255);
  margin: 0em;
  padding: 0em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Montserrat Alternates", sans-serif;
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}
.signin {
  opacity: 0.8;
  position: absolute;
  width: 500px;
  background: rgb(10, 0, 0);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 50px;
  border-radius: 10%;
  box-shadow: 10px 15px 35px rgba(0, 0, 0, 0.5);
}
.signin .content {
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.signin .content h2 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.signin .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.signin .content .form .inputbox {
  position: relative;
  width: 100%;
}
.signin .content .form .inputbox input {
  position: relative;
  width: 100%;
  background: rgb(255, 255, 255);
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
.signin .content .form .inputbox i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.7s;
  pointer-events: none;
}
.signin .content .form .links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.signin .content .form .links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.signin .content .form .links a:nth-child(2) {
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.signin .content .form .inputbox input[type="submit"] {
  padding: 10px;
  background: rgb(255, 255, 255);
  color: #111;
  font-weight: 600;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.signin .content .form .inputbox input:focus ~ i,
.signin .content .form .inputbox input:valid ~ i {
  transform: translateY(-7.5px);
  font-size: 0.9rem;
  color: #fff;
}

.Block_The_Matrix_Viewport {
  position: fixed;
  top: 1%;
  left: 1%;
  width: 98%;
  height: 98%;
  overflow: hidden;
  color: rgb(31, 155, 31);
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
  font-weight: bold;
}
.Block_The_Matrix_Viewport._half_Y {
  height: 49%;
}

.blinking_cursor {
  width: 0.75em;
  height: 0.9em;
  vertical-align: middle;
  background-color: rgb(0, 190, 0);
  animation: 250ms steps(2, jump-none) infinite cursor_blink;
}
@keyframes cursor_blink {
  from {
    background-color: rgb(0, 190, 0);
  }
  to {
    background-color: rgb(0, 0, 0);
  }
}
.Matrix_Code_sB span {
  margin: 0em 0.25em;
  transform: translate(0%, -10%);
  animation: 300ms linear infinite matrix_falling_code;
}
@keyframes matrix_falling_code {
  from {
    transform: translate(0%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
.Matrix_Code_sB span div {
  line-height: 1;
}
b {
  color: rgb(142, 255, 147);
}
@media (max-width: 400px) {
  body {
    font-size: 60%;
  }
}
@media (min-width: 401px) and (max-width: 600px) {
  body {
    font-size: 70%;
  }
}
@media (min-width: 601px) and (max-width: 800px) {
  body {
    font-size: 80%;
  }
}
@media (min-width: 801px) and (max-width: 1000px) {
  body {
    font-size: 90%;
  }
}
@media (min-width: 1001px) and (max-width: 1200px) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 1401px) {
  body {
    font-size: 125%;
  }
}
